* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f8f9fa; /* Cor de fundo para o corpo */
    color: #333; /* Cor do texto */
}

header {
    background-color: #343a40; /* Cor de fundo para o cabeçalho */
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    max-width: 300px;
    width: calc(100% - 30px);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    color: #dc3545; /* Cor do título */
}

.card p {
    margin-bottom: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    background-color: #28a745; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838; /* Cor do botão ao passar o mouse */
}

/* Media queries para dispositivos de tela menores */

@media screen and (max-width: 768px) {
    .card {
        max-width: calc(50% - 30px);
    }
}

@media screen and (max-width: 576px) {
    .card {
        max-width: calc(100% - 30px);
    }
}
