* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f8f9fa; /* Cor de fundo para o corpo */
    color: #333; /* Cor do texto */
    padding-top: 100px; /* Adicionando espaço para o cabeçalho */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000; /* Cor de fundo para o cabeçalho */
    color: white;
    text-align: center;
    padding: 20px 0;
    z-index: 1000; /* Garantindo que o cabeçalho esteja acima de outros elementos */
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-aling:center
}

main > div {
    flex: 1;
    margin: 10px;
    max-width: 400px; /* Definindo a largura máxima para as seções */
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    color: #dc3545; /* Cor do título */
}

.card p {
    margin-bottom: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adicionando margem superior ao contêiner do botão */
}

.button-container a {
    text-decoration: none; /* Removendo sublinhado do link */
    color: white; /* Cor do texto do link */
    display: flex; /* Transformando o link em um contêiner flexível */
    align-items: center; /* Alinhando itens verticalmente */
}

.button-container img {
    margin-left: 5px; /* Reduzindo a margem à esquerda para o ícone do WhatsApp */
    max-width: 24px; /* Limitando o tamanho máximo do ícone */
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
}

footer img {
    max-width: 100%;
}
