* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f8f9fa; /* Cor de fundo para o corpo */
    color: #333; /* Cor do texto */
    padding-top: 100px; /* Adicionando espaço para o cabeçalho */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000; /* Cor de fundo para o cabeçalho */
    color: white;
    text-align: center;
    padding: 20px 0;
    z-index: 1000; /* Garantindo que o cabeçalho esteja acima de outros elementos */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 120px; /* Adicionando espaço para o cabeçalho fixo */
}

main > div {
    flex: 1;
    margin: 10px;
    max-width: 400px; /* Definindo a largura máxima para as seções */
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    color: #dc3545; /* Cor do título */
}

.card p {
    margin-bottom: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    background-color: #28a745; /* Cor do botão */
    color: white;
    b
